//colors
$color_mine_shaft_approx: #333;
$black: black;
$color_celeste_approx: #ccc;
$color_storm_dust_approx: #616161;
$color_alto_approx: #ddd;

#waveformchart {
	width: 100%;
	height: 140px;
	background-color: $color_mine_shaft_approx;
	position: relative;
	margin-bottom: 20px;
	svg {
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.bar {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scale(1,1);
		&:hover {
			height: 100%;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: scale(2,100);
			//Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
			transform-origin: 50% 50%;
		}
	}
}
.axis {
	fill: $black;
	stroke: $black;
	shape-rendering: crispEdges;
	text {
		font-size: 13px;
		fill: $black;
		stroke: none;
	}
	line {
		stroke: $color_celeste_approx;
	}
	path {
		stroke: $color_celeste_approx;
	}
}
.line {
	padding: 10px;
	&:hover {
		stroke: $color_storm_dust_approx;
	}
}
.arc {
	text {
		font: 11px;
		fill: $black;
		stroke: none;
	}
	path:hover {
		fill: $color_storm_dust_approx;
	}
}
.tooltip {
	padding: 3px;
	background-color: $black;
	opacity: 0.8;
	justify-content: center;
	align-items: center;
}
.brush {
	.extent {
		stroke: $black;
		fill-opacity: .125;
		shape-rendering: crispEdges;
	}
	.background {
		fill: $color_alto_approx;
	}
}
.bar:hover {
	fill: $color_storm_dust_approx;
}
.dot:hover {
	fill: $color_storm_dust_approx;
}
.area:hover {
	fill: $color_storm_dust_approx;
}
