#waveformchart {
  width: 100%;
  height: 140px;
  background-color: #333;
  position: relative;
  margin-bottom: 20px; }
  #waveformchart svg {
    position: absolute;
    width: 100%;
    height: 100%; }
  #waveformchart .bar {
    transform: scale(1, 1); }
    #waveformchart .bar:hover {
      height: 100%;
      transform: scale(2, 100);
      transform-origin: 50% 50%; }

.axis {
  fill: black;
  stroke: black;
  shape-rendering: crispEdges; }
  .axis text {
    font-size: 13px;
    fill: black;
    stroke: none; }
  .axis line {
    stroke: #ccc; }
  .axis path {
    stroke: #ccc; }

.line {
  padding: 10px; }
  .line:hover {
    stroke: #616161; }

.arc text {
  font: 11px;
  fill: black;
  stroke: none; }
.arc path:hover {
  fill: #616161; }

.tooltip {
  padding: 3px;
  background-color: black;
  opacity: 0.8;
  justify-content: center;
  align-items: center; }

.brush .extent {
  stroke: black;
  fill-opacity: .125;
  shape-rendering: crispEdges; }
.brush .background {
  fill: #ddd; }

.bar:hover {
  fill: #616161; }

.dot:hover {
  fill: #616161; }

.area:hover {
  fill: #616161; }

/*# sourceMappingURL=elements.scss.map */
