//colors
$white: white;

//fonts
$font_0: Open Sans;
$font_1: Helvetica;
$font_2: Arial sans-serif;

//@extend-elements
//original selectors
//body, html
%extend_1 {
	height: 100%;
	margin: 0;
	font-weight: 100;
	background: $white;
	text-align: center;
	font-family: $font_0, $font_1, $font_2;
}


@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import './elements.scss';
@import './tabs.scss';
@import './charts.scss';
body {
	@extend %extend_1;
}
html {
	@extend %extend_1;
}
header {
	margin-top: 40px;
}
