//colors
$white: white;
$color_maroon_flush_approx: #c41d47;
$color_tundora_approx: #444444;
$color_shiraz_approx: #ab1c40;
$color_burnt_maroon_approx: #440000;

.tabs {
	width: 80%;
	position: relative;
	padding: 0;
	margin: 40px auto;
	input[type=radio] {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	label {
		display: block;
		padding: 10px 20px;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 2px 2px 0 0;
		color: $white;
		font-size: 15px;
		font-weight: normal;
		background: $color_maroon_flush_approx;
		cursor: pointer;
		position: relative;
		top: 3px;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 0.2s ease-in-out;
		&:hover {
			background: $color_tundora_approx;
			top: 0;
		}
	}
}
.exercise {
	float: left;
	padding-top: 5px;
	margin-right: 3px;
}
.tab-content {
	z-index: 2;
	display: none;
	text-align: left;
	width: 100%;
	font-size: 20px;
	line-height: 140%;
	padding-top: 10px;
	background: $color_shiraz_approx;
	padding: 12px;
	color: $white;
	position: absolute;
	top: 53px;
	margin-top: 50px;
	left: 0;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	animation-duration: 0.5s;
	ul li {
		cursor: pointer;
		&.selected {
			color: $color_tundora_approx;
		}
		&.completed {
			color: $color_burnt_maroon_approx;
			text-decoration: line-through;
		}
	}
}
@media(min-width: 1565px) {
	.tab-content {
		top: 0;
		margin-top: 53px;
	}
}
@media(max-width: 840px) {
	.tab-content {
		top: 0;
		margin-top: 153px;
	}
}
@media(max-width: 653px) {
	.tab-content {
		top: 0;
		margin-top: 203px;
	}
}
@media(max-width: 443px) {
	.tab-content {
		top: 0;
		margin-top: 353px;
	}
}
ul.tabs > li {
	list-style-type: none;
}
[id^=tab]:checked {
	+ label {
		background: $color_tundora_approx;
		color: $white;
		top: 0;
	}
	~ [id^=tab-content] {
		display: block;
	}
}
